@font-face {
  font-family: 'icomoon';
  src:  url('../fuentes/icomoon.eot?12xj48');
  src:  url('../fuentes/icomoon.eot?12xj48#iefix') format('embedded-opentype'),
    url('../fuentes/icomoon.ttf?12xj48') format('truetype'),
    url('../fuentes/icomoon.woff?12xj48') format('woff'),
    url('../fuentes/icomoon.svg?12xj48#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
  content: "\e900";
}
.icon-chevron-right:before {
  content: "\e901";
}
.icon-open-book:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-video:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-checkbox-checked:before {
  content: "\e909";
}
.icon-menu:before {
  content: "\e906";
}
.icon-list:before {
  content: "\e906";
}
.icon-options:before {
  content: "\e906";
}
.icon-lines:before {
  content: "\e906";
}
.icon-hamburger:before {
  content: "\e906";
}
.icon-users:before {
  content: "\e907";
}
.icon-group:before {
  content: "\e907";
}
.icon-team:before {
  content: "\e907";
}
.icon-members:before {
  content: "\e907";
}
.icon-community:before {
  content: "\e907";
}
.icon-collaborate:before {
  content: "\e907";
}
.icon-home:before {
  content: "\e908";
}
